


		p {
			font-size: 50px;
		}

		.standard {

			height: 100px;
			width: 100px;
			background: black;
			display: table;
		
		}

		.divcenter {
			
			padding-bottom: auto;
			padding-top: auto;

		}

		.sec1 {
			background: red;
		}

		.sec2 {
			background: green;
		}

		.sec3 {
			background: blue;
		}

		.sec4 {
			background: yellow;
		}

    	

    	p {
    		color:blue;
    	}





      .tl {
        width:50%;
        height:50%;
        position:absolute;
        top:100%;
        left:0;
        background:blue;
        opacity: 0.6;

      }


    .tl:hover:not(.active) {

    background-color: #749;
    opacity:1;
    transition: 1s;
} 


      .bl {
        width:50%;
        height:50%;
        position:absolute;
        left:0;
        top:150%;
        background:purple;
        opacity: 0.6;
      }


      .bl:hover:not(.active) {
    background-color: #749;
    opacity:1;
  transition: 1s;

  }

      .tr {
        width:50%;
        height:50%;
        position:absolute;
        top:100%;
        right:0;
        background:yellow;
        opacity: 0.6;
      }

      .tr:hover:not(.active) {
    background-color: #749;
    opacity:1;
    transition: 1s;

  }

      .br {
        width:50%;
        height:50%;
        position:absolute;
        right:0;
        top:150%;
        background:green;
        opacity: 0.6;

       }

            .br:hover:not(.active) {
    background-color: #749;
    opacity:1;
    transition: 1s;
      }

      p {
        color:red;
      }







body {margin:0;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position:sticky;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 90px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}


  .parallax {
  /* The image used */
  background-image: url('background.png');

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}







