
	p {
	font-size: 50px;
  text-align:center;
  padding:150px;
	color:black
}

  body {
  background-color:black;
	margin:0;
}

	ul {
	list-style-type: none;  /*No dots */
	margin: 0; /* Right at the top */
	padding: 0; /*no padding(no margin) */
	overflow: hidden; /* if it goes off the page it wont show */
	background: linear-gradient(to right, #2980b9, #6dd5fa, #ffffff); /* the colour when not hoveered on */
  position:sticky; /*It will always stay on top even when scrolling through the site */
	top: 0; /* Right at the top */
  z-index:2; /* Makes it appear infront of other elements */
	border-radius:30px; /* Circular Navbar */
	opacity:1;
	font-family: 'Dosis', sans-serif;
}

  li {
	float:left; /* The navbar will "float" from the left meaning it stars from the left*/
}

	li a { /* this represents all the text positioning inside of the navbars*/
	display: block; /* its a square/rectangle */
	color: white; /* the text is white*/
  text-align: center; /* the text is aligned in the center */
	padding: 14px 90px; /* the space around the text - see css block model for reference*/
	text-decoration: none; /* no dots before text */
}

  li a:hover:not(.active) {
	background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
	transition:1s;
}

  .parallax {
	  /* The image used */
  background-image: url('indexbackground.jpg');
	height: 100%;
	background-attachment: fixed;
	background-position: center;
  background-repeat: no-repeat;
	background-size: cover;
}

 .text {
  Width:200px;
 	Height:100px;
 	background: linear-gradient(to right, #2980b9, #6dd5fa, #ffffff);
 	position:absolute;
 	left:40%;
 	top:30%;
 	animation:tomiddle 3s;
	animation-fill-mode: forwards;
	border-radius:5%;
	padding:50;
	text-align:center;
	font-family: 'Dosis', sans-serif;
	font-size:30px;
}
	 /* */
	.background {
	height:100px;
	width:200px;
  background: linear-gradient(to right, #2980b9, #6dd5fa, #ffffff);
	position:absolute;
	top:50%;
	animation:tomiddle1 3s;
	animation-fill-mode: forwards;
	border-radius:5%;
	text-align:center;
	font-family: 'Dosis', sans-serif;
	font-size:30px;
}

	 /* */

	@keyframes tomiddle {
	from {left :0%;}
	to   {left: 45%;}
	}
	 /* */
	@keyframes tomiddle1 {
	from {right :0%;}
	to   {right: 42.5%;}
	}
	 /* */
	#holder, #importance {
	padding: 5px;
  text-align: center;
	background: linear-gradient(to right, #000000, #434343, #000000);
	border: solid 1px #c3c3c3;
}

	 /* */
	#importance  {
	height:100%;
	display:none; /* not displayed until jquery clals */
	font-size:50px;
	background: linear-gradient(to right, #2980b9, #6dd5fa, #ffffff);
	font-family: 'Dosis', sans-serif;
}

  .tl {
  width:50%;
  height:50%;
  position:absolute;
  z-index:-1;
  top:210%;
  left:0;
  background: linear-gradient(to right, #ffffff, #6dd5fa, #2980b9);
  opacity: 0.5;
  text-align:center;
  font-family: 'Dosis', sans-serif;
  overflow:hidden;
}

 /* */

  .tl:hover:not(.active) {
  background: linear-gradient(to right, #1a1905, #fffc00);
  opacity:1;
  transition: 2.3s;
  transform:scale(1.03);
}


  .tr {
  width:50%;
	height:50%;
  position:absolute;
  z-index:-1;
  top:210%;
  right:0;
  background: linear-gradient(to right, #2980b9, #6dd5fa, #ffffff);
  opacity: 0.5;
  font-family: 'Dosis', sans-serif;
  overflow:hidden;
  transition: background 2.3s, transform 2s, opacity 2.3s; /* setting the timing for things defined below */
}

 /* */
  .tr:hover:not(.active) {
  background: linear-gradient(to right, #52c234, #061700);
  opacity:1;
  transform:scale(1.03);
}

 /* */

 /* */

 /* */

 /* */

 /* for animation*/
